/* http://meyerweb.com/eric/tools/css/reset/

  v2.0 | 20110126

  License: none (public domain)

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Comfortaa';
  color: white;
}
h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'Quicksand';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 3rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.main-nav {
  height: 80px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .main-nav {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 0;
    justify-content: space-between;
  }
}
.main-nav h1 {
  margin-left: 0.5rem;
}
.main-nav a {
  text-decoration: none;
  display: inline-block;
  background-color: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.main-nav a:hover {
  background-color: white;
  color: none;
}
.main-nav a:hover {
  display: inline-block;
  background-color: black;
  color: #8cba80;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.main-nav a:hover:hover {
  background-color: #8cba80;
  color: black;
}
body {
  background-image: url("../images/maryjane/kush-in-glass.jpg");
  background-attachment: fixed;
}
.container {
  margin-top: 10rem;
}
.content-section {
  display: flex;
  flex-flow: row;
  justify-content: none;
  align-items: center;
}
.vision {
  background-color: rgba(85, 77, 99, 0.7);
  color: white;
  border-radius: 0.5rem;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 5rem;
}
.using {
  margin: 2.5rem 0;
}
.using li {
  font-size: 2rem;
  line-height: 3rem;
}
