/* http://meyerweb.com/eric/tools/css/reset/

  v2.0 | 20110126

  License: none (public domain)

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Comfortaa';
  color: white;
}
h1,
h2,
h3,
h4,
h5,
a {
  font-family: 'Quicksand';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 3rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.main-nav {
  background-color: rgba(128, 128, 128, 0.7);
  color: black;
  height: 80px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .main-nav {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 0;
    justify-content: space-between;
  }
}
.main-nav h1 {
  margin-left: 0.5rem;
}
.main-nav .anchor {
  text-decoration: none;
  display: inline-block;
  background-color: none;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.main-nav .anchor:hover {
  background-color: none;
  color: black;
}
.main-nav .anchor:hover {
  display: inline-block;
  background-color: #8cba80;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.main-nav .anchor:hover:hover {
  background-color: #8cba80;
  color: black;
}
body {
  background-image: url("../images/maryjane/desktop.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (max-width:800px) {
  body {
    background-image: url("../images/maryjane/tablet.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.container {
  margin-top: 10rem;
}
#vision img {
  width: 150px;
  height: 150px;
}
.text-vision {
  color: white;
  background-color: rgba(85, 77, 99, 0.7);
  border-radius: 0.5rem;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 5rem;
  display: flex;
  flex-flow: row;
  justify-content: none;
  align-items: center;
  padding: 2rem;
}
.using {
  margin: 2.5rem 0;
  text-align: center;
  color: black;
  background-color: rgba(140, 186, 128, 0.7);
  padding: 3rem;
  border-radius: 0.5rem;
}
.using a {
  color: black;
}
.using a:hover {
  display: inline-block;
  background-color: #554d63;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.using a:hover:hover {
  background-color: #554d63;
  color: white;
}
.item_list {
  margin-bottom: 4rem;
  display: flex;
  flex-flow: row;
  justify-content: none;
  align-items: center;
}
.item_list p {
  margin-left: 1.5rem;
  font-size: 2.5rem;
}
.item_list img {
  max-width: 50px;
  max-height: 50px;
}
#testimonials-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#testimonials-section .testimonials {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(85, 77, 99, 0.7);
  text-align: center;
  padding: 3rem;
  border-radius: 0.5rem;
  margin: 2.5rem 0;
}
#testimonials-section .testimonials a {
  color: black;
}
#testimonials-section .testimonials a:hover {
  display: inline-block;
  background-color: #8cba80;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
#testimonials-section .testimonials a:hover:hover {
  background-color: #8cba80;
  color: white;
}
#testimonials-section h2 {
  font-size: 5rem;
}
#testimonials-section .testimonials-text {
  display: flex;
  flex-flow: row;
  justify-content: none;
  align-items: none;
}
@media (max-width:800px) {
  #testimonials-section .testimonials-text {
    display: flex;
    flex-flow: column;
    justify-content: none;
    align-items: none;
  }
}
#testimonials-section .testimonials-text p {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
  margin-right: 2.5rem;
}
@media (max-width:800px) {
  #testimonials-section .testimonials-text p {
    margin: 2rem 0;
  }
}
#testimonials-section .sign-up {
  margin-top: 2rem;
  text-align: center;
}
.sign_up {
  text-decoration: none;
  display: inline-block;
  background-color: none;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.sign_up:hover {
  background-color: none;
  color: black;
}
.sign_up:hover {
  display: inline-block;
  background-color: #8cba80;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
}
.sign_up:hover:hover {
  background-color: #8cba80;
  color: black;
}
