body{
  // background-image: url("../images/maryjane/desktop.jpg");
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: auto;
  // background-position: bottom;
  background: url("../images/maryjane/desktop.png") fixed no-repeat left bottom;
  @media screen and @tablet{
    margin: 0 auto;
    background: url("../images/maryjane/tabletview.png") fixed no-repeat left bottom;
  }
  @media screen and @mobile{
    background: url("");
  }
}
.container{
  margin-top: 10rem;
    @media screen and @tablet{
      max-width:800px;
    }

}

#vision{
  img{
    height: 50%;
  }
}
.text-vision{
  .section(white, rgba(@color2, .7));
  border-radius: .5rem;
  margin: 2.5rem 0;
  text-align: center;
  .flex(row,none,center);
  padding: 2rem;
    p{
      font-size: 3rem;
      @media screen and @mobile{
        font-size:1.5rem;
      }
    }
  }

.using{
  margin: 2.5rem 0;
  text-align: center;
  .section(black,rgba(@color1,.7));
  padding: 3rem;
  border-radius: .5rem;
}

.item_list{
  margin-bottom: 4rem;
  .flex(row,none,center);
  @media screen and @tablet{
    .flex(row,none,center);
  }
      p{
      margin-left: 1.5rem;
      font-size: 2.5rem;
      @media screen and @tablet{
        font-size: 3rem;
      }
      @media screen and  @mobile{
        font-size: 1.5rem;
      }
        span{
          // font-weight: bold;
          }
    }
    img{
      max-width: 50px;
      max-height: 50px;
      @media screen and  @tablet{
        max-width: 100px;
        max-height: 100px;
      }
    }
}

#testimonials-section{
    .testimonials{
      .flex(column,center,center);
      .section(black,rgba(@color2,.7));
      text-align: center;
      padding: 3rem;
      border-radius: .5rem;
      margin: 2.5rem 0;
        a{
          color:black;
          @media screen and @tablet{
            .anchors(white, @color1,2.5rem);
          }
            &:hover{
              .anchors(white, @color1,2.5rem);
            }
          @media @mobile{
            .anchors(white,@color1,2rem);
          }
        }
    }//testimonials
      .flex(column,center,center);
          h2{
            font-size: 5rem;
            @media screen and @mobile{
              font-size: 3.5rem;
            }
          }
        .testimonials-text{
          div{
          @media screen and @tablet{
            margin-bottom: 3.5rem;
          }
        }
          .flex(row,none,none);
          .img-circle{
            border-radius: 50%;
            @media screen and @tablet{
              height:50%;
              -webkit-height: 50%;

            }
            @media screen and @mobile{
              display:none;
            }
          }
          @media screen and @tablet{
            .flex(column,none,none);
          }
            p{
              .section(black,rgba(255,255,255, .5));
              border-radius: .5rem;
              padding: 1rem;
              font-size: 1.8rem;
              margin: 2.5rem 2.5rem;
              @media screen and @tablet{
                margin: 2.5rem 0;
                font-size: 2rem;
              }
              @media screen and @mobile{
                font-size: 2rem;
              }
            }//p
          } //testimonials-text
            .sign-up{
              margin-top: 2rem;
              text-align: center;
            }

        } //testimonals-section

.sign_up{
  // margin-right: 2px;
  text-decoration: none;
  .anchors(black,none,3rem);
    &:hover{
      .anchors(white, @color2,3rem);
    }
  @media screen and @tablet{
    .anchors(white,@color2,2.5rem);
  }
  @media screen and @mobile{
    .anchors(white,@color2,2rem);
  }
}
