body{
  background-image: url("../images/maryjane/desktop.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  @media @tablet{
    background-image: url("../images/maryjane/tablet.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.container{
  margin-top: 10rem;
}

#vision{
  img{
    width: 150px;
    height: 150px;
  }
}
.text-vision{
  .section(white, rgba(@color2, .7));
  border-radius: .5rem;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 5rem;
  .flex(row,none,center);
  padding: 2rem;
}

.using{
  margin: 2.5rem 0;
  text-align: center;
  .section(black,rgba(@color1,.7));
  padding: 3rem;
  border-radius: .5rem;
    a{
      color:black;
        &:hover{
          .anchors(white, @color2);
        }
    }
}

.item_list{
  margin-bottom: 4rem;
  .flex(row,none,center);
    p{
      margin-left: 1.5rem;
      font-size: 2.5rem;
        span{
          // font-weight: bold;
          }
    }
    img{
      max-width: 50px;
      max-height: 50px;
    }
}

#testimonials-section{
    .testimonials{
      .flex(column,center,center);
      .section(black,rgba(@color2,.7));
      text-align: center;
      padding: 3rem;
      border-radius: .5rem;
      margin: 2.5rem 0;
        a{
          color:black;
            &:hover{
              .anchors(white, @color1);
            }
        }
    }
      .flex(column,center,center);
          h2{
            font-size: 5rem;
          }
        .testimonials-text{
          .flex(row,none,none);
          @media @tablet{
            .flex(column,none,none);
          }
            p{
              .section(black,rgba(255,255,255, .5));
              border-radius: .5rem;
              padding: 1rem;
              font-size: 2rem;
              margin-right: 2.5rem;
              @media @tablet{
                margin: 2rem 0;
              }
            }
          }
            .sign-up{
              margin-top: 2rem;
              text-align: center;
            }

        }

.sign_up{
  // margin-right: 2px;
  text-decoration: none;
  .anchors(black,none);
    &:hover{
      .anchors(black,@color1);
    }
  }
