body{
  background-image: url("../images/maryjane/test1.jpg");
  background-attachment: fixed;
}
.container{
  margin-top: 10rem;
}

#vision{

}
.text-vision{
  .section(white, rgba(@color2, .7));
  border-radius: .5rem;
  margin: 2.5rem 0;
  text-align: center;
  font-size: 5rem;
  .flex(row,none,center);
  padding: 2rem;
}

.using{
  margin: 2.5rem 0;
  text-align: center;
  .section(black,rgba(@color1,.7));
  padding: 3rem;
  border-radius: .5rem;
    a{
      color:black;
        &:hover{
          .anchors(rgba(@color2, .7), black);
        }
    }
}

.item_list{
  margin-bottom: 4rem;
  .flex(row,none,center);
    p{
      margin-left: 1.5rem;
      font-size: 2.5rem;
        span{
          // font-weight: bold;
        }
  }
}

#testimonials-section{
    max-width: 1000px;
    .testimonials{

      .flex(column,center,center);
          h2{
            font-size: 5rem;
          }
        .testimonials-text{
          .flex(row,none,none);
            p{
              font-size: 2rem;
              margin-right: 10px;
            }

        }
    }
}



.sign_up{
  // margin-right: 2px;
  text-decoration: none;
  .anchors(black,none);
    &:hover{
      .anchors(@color1,black);
    }
  }
