.main-nav{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
    h1{
      margin-right: 20rem;
    }

    a{
      text-decoration: none;
      margin-left: 2rem;
      color: white;
        &:hover{
          background-color: #8cba80;
          color: black;
          padding: 10px;
          border-radius: 3px;
        }
      }
}
