.main-nav{
  @media (min-width:900px){
    width: 100%;
  	top: 0px;
  	position: fixed;
  	z-index: 0;
    justify-content:space-between;
  }
  h1{
    margin-left: .5rem;
  }
  // background-color: rgba(white,.7);
  height: 80px;
  // margin: 0 auto;
  .flex(row,center,center);
    .sign_up{
      // margin-right: 2px;
      text-decoration: none;
      .anchors(white,none);
        &:hover{
          .anchors(#8cba80,black);
        }
      }
}
