.main-nav{
    img{
      height: 10rem;
      margin-left: 1rem;
      @media screen and @mobile{
        height: 7rem;
      }
    }
    width: 100%;
  	top: 0px;
  	position: fixed;
  	z-index: 0;
    .flex(row,space-between,center);
    margin: 0 auto;
    @media screen and @tablet{
      justify-content: center;
    }
  h1{
    margin-left: .5rem;
  }
  background-color: rgba(170, 170, 170, 0.75);
  color: black;
  height: 8rem;
  // margin: 0 auto;
    .anchor{
      text-decoration: none;
      .anchors(black,none,2.5rem);
      @media screen and @tablet{
        .anchors(black,none,2.5rem);
        padding: 0;
        margin: 0 1rem;
      }
      @media screen and @mobile{
        .anchors(black,none,1.5rem);
        margin: 0.5rem;
      }
        &:hover{
          .anchors(black,@color1,2.5rem);
        }
    }
  }
